@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Lato:ital,wght@1,300&display=swap');

body {
  display: grid;
  justify-content: center;
  background: rgb(251,236,63);
  background: radial-gradient(circle, rgba(251,236,63,0.4682247899159664) 0%, rgba(252,167,70,1) 100%);
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 600px;
  height: 70%;
  border-radius: 10px;
}

h1 {
  font-family: 'La Belle Aurore', sans-serif;
  text-align: center;
  padding: 20px;
}

p {
  padding: 20px;
  text-align: center;
  font-weight: 600;
}

footer {
  text-align: center;
  padding: 50px;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  width: 130px;
  height: 50px;
  font-weight: 800;
  border-radius: 0 0 10px 10px;
  border: 2px solid black;
  border-top: 0;
  cursor: pointer;
}

button:hover {
  background-color: rgb(230, 193, 45);
}

a {
  font-weight: 600;
  font-size: larger;
  cursor: pointer;
  text-decoration: none;
}

